<div class="container">
  <h1 class="text-center mb-4">View User</h1>
  
  <button nz-button nzType="primary" (click)="goBack()">Back</button>

  <div *ngIf="user">
    <div class="form-group mt-4">
      <label for="name">Name:</label>
      <input nz-input type="text" id="name" [value]="user.name" class="form-control" readonly>
    </div>
    
    <div class="form-group mt-4">
      <label for="email">Email:</label>
      <input nz-input type="text" id="email" [value]="user.email" class="form-control" readonly>
    </div>

    <div class="form-group mt-4">
      <label for="phone">Phone:</label>
      <input nz-input type="text" id="phone" [value]="user.phone" class="form-control" readonly>
    </div>

    <div class="form-group mt-4">
      <label for="website">Website:</label>
      <input nz-input type="text" id="website" [value]="user.website" class="form-control" readonly>
    </div>

   
    <button *ngIf="!editMode" nz-button nzType="default" (click)="toggleEditMode()">Edit</button>

    
  </div>
</div>
